.userItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    padding: 15px 0;

    width: 90%;

    position: relative;

    border-top: 1px solid var(--primary-blue-50pr);
}

.userItem .emailUserItem {
    overflow-wrap: break-word;
    max-width: 190px;
    white-space: normal;
}

.userItem .numberUserItem {
    overflow-wrap: break-word;
    max-width: 100px;
    white-space: normal;
}
